//Top Section -- What is it

#what-is-it
  position: relative
  background-color: rgba($grey,0.38)
  font-size: 1.2rem
  font-weight: $thin
  line-height: rem-calc(30px)

  #sell-it
    padding: 30px

  #app-showcase

    img
      @include bp(max,768px)
        margin-bottom: rem-calc(40px)
      width: 100%

  h1
    @include bp(max,768px)
      line-height: rem-calc(50px)
    display: block
    margin: rem-calc(20px) 0 rem-calc(40px) 0
    font-size: 3rem
    font-weight: $thin
    letter-spacing: 1px
    text-align: center

  .contents
    @include bp(max,768px)
      margin-left: 2rem
    display: block
    margin: rem-calc(20px) 0 rem-calc(40px) 0

//Tabbed Buckets

#features-container
  position: relative

  #features-tabs
    @include bp(min,1200px)
      width: 200px
    @include bp(max,992px)
      width: 150px
    @include bp(max,768px)
      position: relative
      width: 100%
    position: absolute
    width: 200px
    right: 0
    top: 0
    z-index: 3

    ul
      list-style: none

      .active
        @include bp(max,768px)
          border-bottom: 1px solid white !important
          border-right: none
          border-left: none !important
        background-color: white !important
        border-left: 1px solid white !important
        border-right: 3px solid $purpletabs

      li.feature-tab:hover
        transition: all 0.5s ease

      li.feature-tab
        @include bp(max,768px)
          display: inline-block
          width: 32.98%
        width: 100%
        padding: rem-calc(80px) 0 rem-calc(20px) 0
        @include hoverer(background-color, $grey, rgba($grey,0.4))
        border-bottom: 1px solid rgba(black,0.12)
        border-left: 1px solid rgba(black,0.12)
        font-size: 1.28rem
        text-align: center

        .fa
          display: block

        .tab-name
          @extend .fa
          margin: 1rem auto 1rem auto
          width: 110px
          border-top: 4px solid $purpletabs
          font-size: 1.12rem
          text-transform: uppercase
          letter-spacing: 1px

        a
          text-decoration: none


  #features
    @include bp(max,768px)
      padding-right: 0
    position: relative
    padding-right: rem-calc(200px)
    min-height: 537px
    z-index: 2

    .features-panel
      position: relative
      padding: 20px
      font-size: 1.3rem
      font-weight: $thin
      line-height: rem-calc(40px)

      ul
        width: 500px

    .active-panel
      display: block

    .inactive-panel
      display: none

//Youtube

#video
  position: relative
  background-color: rgba($grey,0.38)

  #yt-container
    @include bp(max,1180px)
      width: 100%

  #video-sidebar
    @include bp(max,1180px)
      width: 100%
      padding: 20px
    position: relative
    padding: 80px 50px 0 50px
    font-size: 1.2rem
    line-height: 2.5rem

  iframe, embed, object
    width: 100%
    //height: 100%
    overflow: hidden

//JSON Container

#json
  @extend #what-is-it
  padding-top: 20px
  padding-bottom: 20px
  background-color: white

  h1
    margin-bottom: rem-calc(120px) !important

  ul#traveler-voice
    @include bp(max,768px)
      width: 300px
    position: relative
    width: 550px
    text-align: center

    li
      display: inline-block
      width: inherit
      vertical-align: middle

      img
        @include bp(max,768px)
          width: 150px
          height: 150px
        width: 200px
        height: 200px
        border-radius: 50%

      span.traveler-voices
        display: block
        margin-top: 2rem

  ul#traveler-navigation
    position: relative
    top: -230px
    list-style: none
    transform: translate(0, -50%)

    li
      @include bp(max,768px)
        font-size: 1.5rem
      position: absolute
      padding: 20px
      font-size: 3rem
      font-weight: $thin
      transition: all 0.4s ease
      z-index: 5

      a
        @include bp(max,768px)
          padding: 10px
        display: block
        padding: 20px
        border: 1px solid $purpletabs
        border-radius: 50%
        color: $purpletabs

    li.nav-prev
      left: 0

    li.nav-next
      right: 0
